h1 {
    font-weight: 500!important;
}

nav {
    margin: 0 auto 4px auto!important;
    padding:  0!important;
}

.jumbotron {
    margin-bottom: 1px;
}

.nav-link {
    color: #343a40;
}

.nav {

    background-color: blanchedalmond;
    border-bottom: #343a40 solid 1px;
}