h1 {
    font-weight: 500!important;
    color: rgb(78, 78, 78);
}

.lead {
    color: whitesmoke;
    background-color: #343a40;
    opacity: 75%;
}

nav {
    margin: 0 auto 4px auto!important;
    padding:  0!important;
}

.jumbotron {
    margin-bottom: 1px;
}

.nav-link {
    color: #343a40;
}

.nav {
    background-color: blanchedalmond;
    border-bottom: #343a40 solid 1px;
}

#speech {
    height: auto;
    padding: 6px;
    margin-left: 12px;
    margin-bottom: 12px;
}

.grid-container {

    display: grid;
    grid-template-columns: auto ;
    grid-gap: 10px;
    padding: 10px;
  
  }
  
  .card:hover {
     background-color: #E8FFEB;
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#news-header{
    text-align: center;
    color: crimson;
}

body {
    background-color: #f5f4c1;

  }

.jumbotron {
    background-image: url("../images/worldtravel.jpg");
    background-repeat: repeat-x;
    max-width: 100%;
    height: auto;
  }

  #map {
    height: 100%;
    min-height: 400px;
    width: 100%;
    padding: 10px;
    border: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
